.dropdown-menu {
  z-index: 100;
  position: absolute;
  right: 0;
  bottom: 100%; /* Platzieren Sie es über dem Icon */
  margin-bottom: 0.5em; /* Kleiner Abstand zum Icon */
  /* Weitere Stile für das Menü */
}

/* CSS */

.custom-quill .ql-toolbar {
  color: white !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none; /* Entfernt die untere Umrandung der Toolbar */
}

.custom-quill .ql-container {
  caret-color: white;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}



.custom-quill .ql-editor {
  font-size: 18px;
}
