.dropdown-menu {
  
  position: absolute;
  right: 0;
  bottom: 100%; /* Platzieren Sie es über dem Icon */
  margin-bottom: 0.5em; /* Kleiner Abstand zum Icon */
  /* Weitere Stile für das Menü */
}

/* CSS */

.custom-quill .ql-toolbar {
  color: white !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none; /* Entfernt die untere Umrandung der Toolbar */
}

.custom-quill .ql-container {
  caret-color: white;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}

.custom-quill .ql-editor {
  font-size: 18px;
}

/* main.css oder eine ähnliche Datei */
.sidebar-icon-background::before {
  content: "";
  background: linear-gradient(
    to right,
    rgba(128, 0, 128, 0),
    /* Transparentes Lila */ rgba(128, 0, 128, 0.2) 20%,
    rgba(128, 0, 128, 0.4) 40%,
    rgba(128, 0, 128, 0.6) 60%,
    rgba(128, 0, 128, 0.911) 80%,
    rgba(128, 0, 128, 1) 100% /* Volles Lila */
  );
  position: absolute;
  top: 0;
  left: -150%; /* Erweitert den Hintergrund nach links */
  right: -150%; /* Erweitert den Hintergrund nach rechts */
  bottom: 0;
  z-index: -1; /* Stellt sicher, dass der Hintergrund hinter dem Button ist */
}

.drag-handler {
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px; /* Anpassbare Griffbreite */
  height: 100%;
  background: #ccc; /* Anpassbare Hintergrundfarbe */
  z-index: 10;
}


.sidebar {
  resize: horizontal;
  overflow: auto;
  max-width: 100%;  /* Maximale Breite */
  min-width: 50px;  /* Minimale Breite */
}