.main1 {
  max-width: 100%;
  background-image: url(https://i.imgur.com/hZw185e.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.header {
  background-color: #51919bfa; /* Beispiel für eine Hintergrundfarbe */
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  
}

.content {
  /* Stile für den Hauptinhalt */
}

/* Weitere Stile wie für den Button, Überschriften usw. */

.button1 {
  border-radius: 20px;
  border: 1px solid #2C3E50;
  background-color: #2C3E50;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button1:active {
  transform: scale(0.95);
}

.button1:focus {
  outline: none;
}

.button1.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.h1 {
  font-weight: bold;
  margin: 0;
}

.h2 {
  text-align: center;
}

.p {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}