.cube {
  width: 200px; /* Setze eine geeignete Größe */
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  width: 200px; /* Gleiche Größe wie der Würfel */
  height: 200px;
  position: absolute;
  left: 13rem;
  top: 13rem;
  border: 1px solid #333;
  /* Rest des Styles */
}
