MONGODB_URI="your mongodb uri"
VIDEOSDK_API_KEY="your videosdk api key"
VIDEOSDK_SECRET_KEY="your videosdk secret key"
VIDEOSDK_API_ENDPOINT="https://api.videosdk.live"
JWT_SECRET="your jwt secret"
JWT_EXPIRE="10h"
GOOGLE_CLIENT_ID="your google client id"
GITHUB_CLIENT_ID="your github client id"
GITHUB_CLIENT_SECRET="your github client secret"